.idea
.git
**/node_modules
docker
test-results
playwright-report

tmp
assets
npm-debug.log
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.nyc_output
coverage
.vscode
bot-manager/node_modules
bot-manager/dist
bot-manager/build
docs
.dockerignore
Dockerfile
*.md